body{
	margin: 0;
	padding: 0;
	font-family:  sans-serif;
	background: rgb(142, 160, 64);
}

.cajaInicio {
	width: 320px;
	height: 420px;
	background: #636363; 
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
}

.cajaInicio h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.cajaInicio label{
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.cajaInicio input{
	width: 100%;
	margin-bottom: 20px;
}

.cajaInicio input[type="text"],
.cajaInicio input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.cajaInicio button[type="sumbit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #31E2E1;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.cajaInicio a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}

.cajaInicio a:hover{
	color: #fff;
}